/*style1.css */
html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 6;
}

nav {
  margin: 0;
  padding: 20px 0;
}

html {
    background-color: #b2b9ba;
}

#gallery { 
    position: relative;
 }

#gallery ul 
{ width: 250px; 
  list-style-type: none; 
}

#gallery li { 
    display: inline; 
    float: left; 
	padding: 10px;
 }

#gallery img { 
    border-style: none; 
 }

#gallery a { 
    text-decoration: none; 
    color: #333; 
	font-style: italic;
 }

#gallery span { 
    display: none; 
 } 

#gallery a:hover span { 
    display: block;                 
    position: absolute:			    
    top: 10px; 			
    left: 300px; 
	text-align: center;
 }