html, body {
  font-family: 'Raleway','Libre-Miriam', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header  {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 6;
}

nav {
  margin: 0;
  padding: 20px 0;
}

nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 80px;
}

/*links*/

a.active {
  text-decoration: none;
  color: #fff;
}

a.dove-grey.active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4fe0b0;
  background-color: transparent;
  text-decoration: none;
}

/* hebrew */
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/miriamlibre/v11/DdTh798HsHwubBAqfkcBTL_fZZP-fes.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/miriamlibre/v11/DdTh798HsHwubBAqfkcBTL_faZP-fes.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/miriamlibre/v11/DdTh798HsHwubBAqfkcBTL_fZ5P-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}*/

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}


  .color-container {
  width: 100%;
  background-color:#80808038;

}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.dove-grey {
  background-color: #b2b9ba;
  color: rgb(10, 8, 8);
}

.slate {
  background-color: #333333;
  color: #fff;
}

.mint-green {
  background-color: #4fe0b0;
}

.cotswold-stone {
background-color: #efd9ca;
}

.roman-ochre {
  background-color:#eac45f;
}


.baby-blue {
    background-color: #ccffff;
    color: #000;
}

.denim {
    background-color: #809fff;
    color: #fff;
}

.cyan {
    background-color: #00FFFF;
    color: #fff;

}

.baby-pink {
    background-color: #ffe6ff;
    color: #000;

}

.white {
    background-color: #ffff;
    color: #000;

}

.pastel-mint {
    background-color: #cffccf;
    color: #000;

}

.denim-midnight {
    background-color: hsl(225, 100%, 25%);
    color: #fff;

}

.crushed-rasberry {
    background-color: hsla(325, 50%, 50%, 0.6);
    
color: #000;
}

.roman-ochre {
  background-color: hsla(40, 100%, 44%, 0.5);
  color: #000;
}


.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.Raleway {
  font-family: 'Raleway', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Libre Miriam', sans-serif;
}

.text-panel h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}


html, body, .gallery {
  font-family: 'Raleway','Libre-Miriam', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#f3eaea;
}

.gallery-container {
  background-color: #333333;
}

.container.background--pastel-green {
  background-color:rgba(0, 255, 0, 0.1);
}

.container.background--dove-grey {
  background-color:#80808038;
}

.container.background--cotswold-stone {
  background-color:#80808038;
}

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

/* VIDEO LOCATION */

.col.display-center {
  display: flex;
  justify-content: center;
}
